.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
}

.Header{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.SubHeader {
  margin-top: 0px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.CommentsHeader {
  border-bottom: solid black 2px;
  padding-bottom: 8px;
}


.NavBar {
  display: grid;
  grid-area: "NavBar";
  height: 46px;
  background-color:black;
  margin: 0px;
  padding: 1px 0px 0px 0px;
}

.SubNav {
  display: grid;
  grid-area: "SubNav";
  height: 23px;
  background-color: rgba(8, 8, 8, 0.938);
  margin: 0px;
  padding: 1px 0px 1px 0px;
}

.NavList {
  color: red;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 1px 0px 1px 0px;
}

.NavTopic {
  color: red;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(75, 74, 74, 0.65);
}

.NavButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.LoggedIn {
  grid-area: "Login";
  background-color: black;
  width: fit-content;
  height: fit-content;
  border-left: solid red 2px;
  border-top: solid red 2px;
  padding: 0px 2px 0px 2px;
  margin: 0px;
  float: right;
  color: white;
}

#LoggedInUser {
  color: rgb(233, 103, 103);
}

li {
  list-style-type: none;
  border: solid black 2px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hypertext {
  color:black;
  text-decoration: none;
}

.notBold {
  font-weight: normal
}

main{
  margin:16px;
}

.articleHead{
  margin-bottom: 2px;
}

.articleAuthor{
margin-top:5px;
}

article{
  margin: 0px 5px;
}

.VoteChanger {
  padding: 5px 0px;
}

.AddComment {
  background-color: rgb(207, 204, 204);
  padding-top: 3px;
  border-top: solid black 2px
}

.eraseCommentButton {
  background-color: black;
  font-size: 13px;
  color: rgb(233, 103, 103);
  margin-bottom: 5px;
  border:  solid rgb(233, 103, 103) 1px;
}

.eraseCommentButton:disabled {
  color:  rgba(0, 0, 0, 0.65);
  background-color:rgba(219, 221, 219, 0.849);
  border: solid grey 1px;
  margin-bottom: 5px;
}

.upButton {
  background-color: rgb(153, 206, 153);
  border: solid black 1px;
}

.downButton {
  background-color: rgb(236, 138, 138);
  border: solid black 1px;
}

.addCommentButton:disabled {
  color: rgb(119, 118, 118);
  background-color:rgba(224, 252, 224, 0.829);
  border: solid black 1px;
  margin-bottom: 6px;
}

.addCommentButton {
  margin-bottom: 6px;
  background-color:rgb(153, 206, 153);
  border: solid black 1px;
}

ul {
  padding-inline-start: 10px;
  padding-right: 10px;
}

.errorSad {
  width: 500px;
}

#red{
  background-color: rgb(240, 173, 173);
}

#grey{
  background-color: rgba(58, 58, 65, 0.5);
}


@media only screen and (max-width: 410px) {

  .NavBar {
  display: grid;
  grid-area: "NavBar";
  height: 69px;
  background-color:black;
  margin: 0px;
  padding: 1px 0px 0px 0px;
}
  
.SubNav {
  display: grid;
  grid-area: "SubNav";
  height: 46px;
  background-color: rgba(8, 8, 8, 0.938);
  margin: 0px;
  padding: 1px 0px 1px 0px;
}


}