.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

.Header{
  margin-top: 0px;
  margin-bottom: 0px;
  /* border-bottom: solid red 2px; */
  padding-top: 8px;
  padding-bottom: 4px;
  /* color: black;
  background-color: rgba(255, 0, 0, 0.883); */
  /* background-image: url("./images/Yellowed.jpeg"); */
  /* text-decoration: none; */
}

.SubHeader {
  margin-top: 0px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background-color:black;
  color: red */
  /* background-image: url("./images/Yellowed.jpeg"); */
}

.CommentsHeader {
  border-bottom: solid black 1px;
  padding-bottom: 8px;
}

li {
  list-style-type: none;
  /* color: black; */
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.headWrapper{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 2;
  grid-template-areas:  "NavBar Login"
                        "SubNav Login";

}

.hypertext {
  color:black;
  text-decoration: none;
  /* text-decoration-style: none; */
}

.NavBar {
  display: grid;
  grid-area: "NavBar";
  height: 46px;
  background-color:black;
  margin: 0px;
  padding: 1px 0px 0px 0px;
}

.SubNav {
  display: grid;
  grid-area: "SubNav";
  height: 23px;
  background-color: rgba(8, 8, 8, 0.938);
  margin: 0px;
  padding: 1px 0px 1px 0px;
}

.NavList {
  color: red;
  display: inline-block;
  /* float: left; */
  list-style-type: none;
  margin: 0;
  padding: 1px 0px 1px 0px;
  /* padding-left: 20px; */
}

.NavTopic {
  color: red;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(75, 74, 74, 0.65);
}

.NavButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.LoggedIn {
  /* display: grid; */
  /* grid-template-columns: 80% 20%;
  grid-template-rows: 2;
  grid-template-areas:  "NavBar Login"
                        "SubNav Login"; */
  grid-area: "Login";
  background-color: black;
  width: fit-content;
  height: fit-content;
  /* height:16px; */
  /* padding-left: 2px; */
  border-left: solid red 2px;
  border-top: solid red 2px;
  /* border-bottom: solid red 1px; */
  /* border: dashed red 1px; */
  padding: 0px 2px 0px 2px;
  margin: 0px;
  float: right;
  color: white;
  /* justify-content: right;
  align-content: right; */
  /* text-align: right; */
  /* line-height: 8px; */
}

#LoggedUser {
  color: rgb(233, 103, 103);
}

/* .NavLabel {
  color: red
} */

/* .NavSelect{
  color: red;
  background-color: black;
  font-size: 11px;
} */

/* .singleArticle{
  background-image: url("./images/Yellowed.jpeg");
} */

.notBold {
  font-weight: normal
}

article{
 margin: 0px 5px;
}

main{
  /* background-image: url("./images/Yellowed.jpeg");
  opacity: 0.8; */
}

/* .commentCard {
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 10px;
} */

.VoteChanger {
  padding: 5px 0px;
}

.AddComment {
  background-color: rgb(161, 159, 159);
}

.eraseCommentButton {
  background-color: black;
  font-size: 12px;
  color: white;
}

.upButton {
  background-color: rgb(153, 206, 153);
  border: solid black 1px;
}

.downButton {
  background-color: rgb(236, 138, 138);
  border: solid black 1px;
}

.addCommentButton:disabled {
  color: rgb(88, 86, 86);
  background-color:rgb(153, 206, 153);
  border: solid black 1px;
  margin-bottom: 6px;
}

.addCommentButton {
  margin-bottom: 6px;
  background-color:rgb(153, 206, 153);
  border: solid black 1px;
}

ul {
  /* margin-left: 0px; */
  padding-inline-start: 10px;
  padding-right: 10px;
  /* color: black; */
}

/* .CommentList {
  margin-left: 2px;
} */

/* @media only screen and (min-width: 650px) {.headWrapper {


}} */