.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 10px;
} 

.hypertext{
  text-decoration: none;
}


.NavBar {
  height: 23px;
  background-color: rgba(8, 8, 8, 0.938)
}

.NavButton {
  background-color: red;
  border: solid white 1px;
  font-size: 12px;
  border-radius: 5px;
  border-color: white
}

.NavLabel {
  color: red
}

.NavList{
color: red;
display: inline-block;
/* float: left; */
 list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.NavTopic{
  color: red;
   margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(88, 87, 87, 0.966)
}

.NavSelect{
  color: red;
  background-color: black;
  /* font-size: 11px; */
}

.singleArticle{
  
}

.commentCard {
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}